/* Who I am */

.who-intro {
  color: white;
  font-size: 10px;
}

.what-intro {
  color: white;
  font-size: 15px;
  margin-bottom: 5vh;
}

.who-section {
  width: 80vw;
  margin-top: 5vh;

  @media (min-width: 480px) {
    margin-top: 15vh;
  }
}

.where-section {
  width: 100vw;
  margin-bottom: 0vh;

  @media (min-width: 480px) {
    margin-bottom: 10vh;
  }
}

.what-section {
  margin-bottom: 5vh;
  margin-top: 2vh;
}

.who-card {
  height: 300px;
  width: 60vw;
  font-size: 15px;

  align-items: center;
  flex-direction: column;

  @media (min-width: 640px) {
    font-size: 20px;
    flex-direction: row;
    height: 450px;
  }

  @media (min-width: 1024px) {
    font-size: 30px;
    flex-direction: row;
    height: 450px;
  }
}

.who-card__text {
  width: 60vw;
  color: var(--colour2);
  margin-bottom: 20px;
  overflow: hidden;

  @media (min-width: 640px) {
    width: 22vw;
    margin-bottom: 0px;
  }
}

.who-card__space {
  width: 25vw;
}

/* .who-card.left {
  transform: translate(-10px, 0);
}

.who-card.right {
  transform: translate(10px, 0);
} */

.who-card__img {
  height: 40vw;
  width: 40vw;
  object-fit: cover;

  @media (min-width: 480px) {
      height: 15vw;
      width: 15vw;
  }
}

/* Pendulum */

.pendulum {
  position: absolute;
  top: -13vh;
  left: 30vw;
  height: 50px;
  width: 16px;

  @media (min-width: 640px) {
    top: 0vh;
    left: 31vw;
  }
}

.pendulum__string {
  position: absolute;
  left: 7px;
  top: 25px;

  height: 50px;
  width: 2px;
  background-color: var(--colour3);
}

.pendulum__weight {
  position: absolute;
  left: 0px;
  top: 70px;

  height: 16px;
  width: 16px;
  border-radius: 8px;
  background-color: var(--colour3);
}

.scaling_arrow {
  position: absolute;
  transform: rotate(-90deg) translate(-9vh, -35vw);
}

.scaling_arrow img {
  height: 40px!important;
  width: 42px!important;
  object-fit: cover;
}

/* Rows */

.socials-row {
  margin-top: 5vh;
}

.experience-row {
  margin-top: 12vh;
}

.socials-row img {
  height: 20px;
  object-fit: cover;
  filter: brightness(100);

  &:hover {
    height: 25px;
  }
}

.experience-row img {
  height: 80px;
  object-fit: cover;
  filter: brightness(100);

  @media (min-width: 400px) {
    height: 100px;
  }

  @media (min-width: 640px) {
    height: 100px;
  }

  @media (min-width: 768px) {
    height: 65px;
  }

  @media (min-width: 1024px) {
    height: 100px;
  }
}

.experience-row div {
  margin-bottom: 15px;

  @media (min-width: 480px) {
    margin-bottom: 0px;
  }
}