.project-card {
	background-color: var(--colour3);
	overflow: hidden;
	width: 275px;
	border-top-left-radius: 8px;
	border-top-right-radius: 8px;
	border-bottom-left-radius: 8px;
	border-bottom-right-radius: 8px;

	margin: 25px;
}

.project-card-img {
	/* height: 125px; */
	/* overflow: hidden; */
}

.project-card img {
	object-fit: cover;
	height: 200px;
	width: 275px;
	border-top-left-radius: 8px;
	border-top-right-radius: 8px;
}

.project-card .shade {
	position: absolute;
	height: 200px;
	width: 275px;
	background: linear-gradient(rgba(0,0,0,0),rgba(0,0,0,0.3));
}

.project-desc {
	height: 200px;
	background-color: var(--colour1);
	background: linear-gradient(var(--colour1), var(--colour2));
	color: var(--colour5);
	border-bottom-left-radius: 8px;
	border-bottom-right-radius: 8px;
	/* background: linear-gradient(var(--colour1), var(--colour5)); */
}

.project-card.dark {
	.project-desc {
		background: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.8));
	}

	.project-card-img {
		background: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.8));
	}
}

#project-1 {
	
}
#project-2 {
	
}
#project-3 {
	
}

#project-4 {
	
}
#project-5 {
	
}
#project-6 {
	
}

#project-7 {
	
}
#project-8 {
	
}
#project-9 {
	
}