@tailwind base;
@tailwind components;
@tailwind utilities;

/* #region Root */

:root {
  /* https://coolors.co/d3fac7-613a3a-035e7b-f6ae2d-ffb7c3 */
  /* Colour Palette 1 */
  --lime: #d3fac7;
  --brown: #613a3a;
  --blue: #035e7b;
  --yellow: #f6ae2d;
  --pink: #ffb7c3;
  --black: #110A0B;
  --colour1: #D8E2DC;
  --colour2: #FFE5D9;
  --colour3: #FFCAD4;
  --colour4: #F4ACB7;
  --colour5: #9D8189;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
  max-width: 100vw;

  background-image: url(../resources/corkboard.jpeg);
  background-repeat: repeat;
}

#root {
  background-color: var(--colour5);
  opacity: 0.98;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* Doc  */

h3 {
  color: var(--black);
}

/* #endregion root */

/* #region Title */

.title-section {
  z-index: 1;
  width: 80vw;
  height: 90vh;
}

.title-container {
  height: 45vh;
  color: var(--colour2)
}

.title-main {
  font-size: 5rem;
}

.title-secondi {
  font-size: 4rem;
}

.title-picture img{
  height: 400px;
  width: 400px;
  box-shadow: 5px 5px 4px rgba(0,0,0,0.1);
  object-fit: cover;

  border-top-right-radius: 15px;
}

.title-space {
  width: 10vh;
}

/* Light Switch */
.light-switch {
  height: 40px;
  width: 40px;
  border-radius: 5px;
  border: 2px solid #282c34;
  position: absolute;

  top: 50%;
  left: 5%;

  &:hover.light{
    border: 2px solid #000000;
  }

  &:hover {
    border: 2px solid #f6ae2d;
  }

  &.light {
    border: 2.5px solid #f6ae2d;
  }
}

.title-left {
  font-size: 25rem;
  position: absolute;
  opacity: 0.5;
  line-height: 12em;
  mix-blend-mode: difference;
}

.title-right {
  font-size: 25rem;
  position: absolute;
  opacity: 0.5;
  line-height: 12em;
  mix-blend-mode: difference;
}

/* #endregion Title */

/* #region Footer */
.footer-table {
  /* background-color: var(--black); */
  margin-top: 5vh;
  color: var(--lime);
}

/* #endregion Footer */