@tailwind base;
@tailwind components;
@tailwind utilities;

/* Root  */

:root {
  /* https://coolors.co/d3fac7-613a3a-035e7b-f6ae2d-ffb7c3 */
  /* Colour Palette 1 */
  --lime: #d3fac7;
  --brown: #613a3a;
  --blue: #035e7b;
  --yellow: #f6ae2d;
  --pink: #ffb7c3;
  --black: #110A0B;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* Doc  */

h3 {
  color: var(--black);
}

/* Splash */

.title-section {
  background-color:var(--blue);
  height: 600px;
  line-height: 12em;
  z-index: 1;
  overflow:hidden;
  max-width: 100vw;
  width: 100vw;
}

.title-left {
  font-size: 15rem;
  position: absolute;
  width: 80vw;
  overflow:hidden;
}

.title-right {
  font-size: 15rem;
  position: absolute;
  width: 80vw;
  overflow:hidden;
}

.title-left-a {
  width: 80vw;
  display: block;
}

.title-right-a {
  width: 80vw;
  display: block;
}

.title-main {
  position: absolute;
}

/* Nav */

.main-navbar div {
  border-bottom: var(--blue);
  height: 40px;
}

.main-navbar {
  background-color: var(--blue);
  width: 100vw;
}

.navbar-item {
  
}

/* Who I am */

.who-section {
  width: 100vw;
}

.who-card {
  background-color: var(--brown);
  height: 450px;
  margin-top: 2vh;
  margin-left: 2vh;
  margin-bottom: 2vh;
  margin-right: 2vh;
}

.who-card.left {
  transform: translate(-10px, 0);
}

.who-card.right {
  transform: translate(10px, 0);
}

/* Splash 2 */

/* What I do */



/* Footer */

.footer-table {
  background-color: var(--black);
  color: var(--lime);
}